{% extends 'topBar.html.twig' %}
{% block title %} Calendrier de Congés {% endblock %}
{% block head %}
  {% block javascripts %}
    <!-- <script src="js/vendor/modernizr-2.6.2.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <!-- <script src="js/plugins/chartist-js/chartist.min.js" type="text/javascript" ></script> -->
    <script src='js/plugins/fullcalendar/lib/moment.min.js' type="text/javascript"></script>
    <script src='js/plugins/fullcalendar/js/fullcalendar.min.js' type="text/javascript"></script>
    <script src="js/plugins/fullcalendar/fullcalendar-script.js" type="text/javascript"></script>
    <!-- ------------- Script Ready ------------- -->
    <script>
      $(document).ready(function() {
        //initialize all modals
        $('.modal').modal();
        $('input[type=date]').each(function(){
          this.type="text";
        });
        $('input[type=date]').datepicker({dateFormat: 'dd-mm-yy'});
        $("#endDate").attr("required", true);
        render_congesSelf()
        render_congesService();
      });
    </script>
    <!-- ------------- Script for DatePickers ------------- -->
    <script>
      $(document).ready(function(){
        $('.datepicker').datepicker();
        $('select').formSelect();
      });
    </script>
    <!-- ----- FUNCTIONS ----- -->
    <script>
    // function form_submit() {
    //   document.getElementById("formConge").submit();
    // }
    function render_congesSelf(){
      var listConges = JSON.parse('{{mesConges | json_encode() | raw}}');
      var arrayLength = listConges.length;
      for (var i = 0; i < arrayLength; i++) {
        var type = listConges[i].type;
        var dateDebut = new Date(listConges[i].date_debut.date);
        var dateFin = new Date(listConges[i].date_fin.date);
        dateFin.setDate(dateFin.getDate()+1);
        if(listConges[i].debut_matin){
          dateDebut = new Date(dateDebut.getFullYear(), dateDebut.getMonth(), dateDebut.getDate(),0,0,0);
        }
        else{
          dateDebut = new Date(dateDebut.getFullYear(), dateDebut.getMonth(), dateDebut.getDate(),12,0,0);
        }
        if(listConges[i].fin_matin){
          dateFin = new Date(dateFin.getFullYear(), dateFin.getMonth(), dateFin.getDate(),12,0,0);
        }
        else{
          dateFin = new Date(dateFin.getFullYear(), dateFin.getMonth(), dateFin.getDate(),0,0,0);
        }
        if(listConges[i].collabo.id == ('{{app.user.id}}')){
          if(listConges[i].statut == "En Attente")
          {
            var color = '#e2b14d';
          }
          else{
            var color = '#3ebc4d';
          }
          var newEvent = {
              id : 'myConge',
              title: type,
              start : dateDebut,
              end : dateFin,
              color: color
          };
          $('#calendar').fullCalendar( 'renderEvent', newEvent , true);
        }
      }
    }
    function render_congesService(){
      var listConges = JSON.parse('{{congesService | json_encode() | raw}}');
      var arrayLength = listConges.length;
      for (var i = 0; i < arrayLength; i++) {
        var type = listConges[i].type;
        var dateDebut = new Date(listConges[i].date_debut.date);
        var dateFin = new Date(listConges[i].date_fin.date);
        dateFin.setDate(dateFin.getDate()+1);
        if(listConges[i].debut_matin){
          dateDebut = new Date(dateDebut.getFullYear(), dateDebut.getMonth(), dateDebut.getDate(),0,0,0);
        }
        else{
          dateDebut = new Date(dateDebut.getFullYear(), dateDebut.getMonth(), dateDebut.getDate(),12,0,0);
        }
        if(listConges[i].fin_matin){
          dateFin = new Date(dateFin.getFullYear(), dateFin.getMonth(), dateFin.getDate(),12,0,0);
        }
        else{
          dateFin = new Date(dateFin.getFullYear(), dateFin.getMonth(), dateFin.getDate(),0,0,0);
        }
        if(listConges[i].collabo.id != ('{{app.user.id}}')){
          if(listConges[i].statut == "En Attente")
          {
            type = type + " " + "(demande)";
            var color = '#dbc12e';
          }
          else{
            type = type + " " + listConges[i].collabo.Nom+" "+listConges[i].collabo.Prenom;
            var color = '#d7f7db';
          }
          var newEvent = {
              id : 'congeService',
              title: type,
              start : dateDebut,
              end : dateFin,
              color: color
          };
          $('#calendar').fullCalendar( 'renderEvent', newEvent , true);
        }
      }
    }
    $("#displaySelf").change(function(){
      if($(this).is(':checked')) {
        render_congesSelf()
      } else {
        $("#calendar").fullCalendar('removeEvents', 'myConge');
      }
    });
    $("#displayService").change(function(){
     if($(this).is(':checked')) {
      render_congesService()
     } else {
      $("#calendar").fullCalendar('removeEvents', 'congeService');
     }
    });
    $("#displayColorConge").change(function(){
      if($(this).is(':checked')) {
        $(".dayConge").css("background-color", "#c12600");
      } else {
        $(".dayConge").css("background-color", "initial");
      }
    });
  </script>
    {% endblock %}
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/topBar.css">
    <link rel="stylesheet" type="text/css" href="/css/calendarConges.css">
    <link rel="stylesheet" type="text/css" href="/css/loader.css">
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <!-- <link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet"> -->
    <link rel="stylesheet" href="js/plugins/fullcalendar/css/fullcalendar.min.css" type="text/css">
  {% endblock %}
{% endblock %}
{% block body %}
  <div id="main">
    <div class="wrapper">
      <section id="content">
        <!--start container-->
        <div class="container">
          <div class="section">
            <!-- Page entiere -->
            <div id="full-calendar">
              <div class="row">
                <!-- Left part -->
                <div class="col s12 m2 l1">
                  <div id="divFiltersCalendar" class="section">
                  <div class="space2"></div>
                  <h9 class="header">Filtres</h9>
                  <h4 class="header">Events</h4>
                  <div class="row">
                    <div class="col s12 m8 l9">
                      <form action="#">
                        <label>
                            <input type="checkbox" class="checkbox-white" type="checkbox" id = "displayService" checked/>
                            <span style="color:white">Congés Service</span>
                        </label>
                        <div class="row"></div>
                        <label>
                            <input type="checkbox" id = "displaySelf" checked/>
                            <span style="color:white">Mes congés</span>
                        </label>
                      </form>
                    </div>
                  </div>
                  <h4 class="header">Couleurs</h4>
                  <div class="row">
                    <div class="col s12 m8 l9">
                      <form action="#">
                        <label>
                            <input type="checkbox" class="checkbox-white" type="checkbox" id = "displayColorConge" checked/>
                            <span style="color:white">Conge</span>
                        </label>
                        <div class="row"></div>
                      </form>
                    </div>
                  </div>
                </div>
                </div>
                <!-- Calendrier -->
                <div id="mainCalendar" class="col s12 m7 l8">
                  <div id="calendar" class="fc fc-ltr fc-unthemed">
                  </div>
                  <div class="space"></div>
                  <!-- Table donnees -->
                  <div class="table_congesService" data-conges-service="{{congesService|json_encode|e('html_attr') }}">
                    <table class="striped">
                      <thead>
                        <tr id="rowCongesBottom">
                          <th data-field="id">Nom</th>
                          <th data-field="name">Date Début</th>
                          <th data-field="price">Date Fin</th>
                          <th data-field="price">Statut</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for conge in congesService %}
                          {% if(conge.collabo.getId() != app.user.id) %}
                            {% if(conge.debut_matin) %}
                              {% set timeDebut = 'matin' %}
                            {% else %}
                              {% set timeDebut = 'après-midi' %}
                            {% endif %}
                            {% if(conge.fin_matin) %}
                              {% set timeFin = 'matin' %}
                            {% else %}
                              {% set timeFin = 'après-midi' %}
                            {% endif %}
                            <tr id="dataBottom" role="row" class="even">
                              <td>{{conge.collabo.getNom()}} {{conge.collabo.getPrenom()}}</td>
                              <td>{{conge.date_debut|date("d-m-y")}} {{timeDebut}}</td>
                              <td>{{conge.date_fin|date("d-m-y")}} {{timeFin}}</td>
                              <td>{{conge.statut}}</td>
                            </tr>
                          {% else %}
                          {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Right part -->
                <div id="rightPart" class="table_mesConges col s12 m3 l3" data-mes-conges="{{mesConges|json_encode|e('html_attr') }}">
                  <div class="row">
                    <div id="rttPart" class="col s1 m1 l1">
                      <h5 class="header">RTT :</h5>
                      <h10 class="header"> {{app.user.rtt}} </h10>
                      <h6 class="header"> jours restants </h6>
                    </div>
                    <div id="congePart" class="col s1 m1 l1">
                      <div class="row">
                        <h5 class="header">Congés payés :</h5>
                        <h10 class="header"> {{app.user.conge}} </h10>
                        <h6 class="header"> jours restants </h6>
                      </div>
                    </div>
                  </div>
                  <div id="btnConge" class="row">
                    <div class="col s12 m12 l12">
                        <a class="waves-effect waves-light btn" onclick="$('#demandeConge').modal('open');">Poser un congé</a>
                    </div>
                  </div>
                  <div class="row">
                    <table id="data-table-row-grouping" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="data-table-row-grouping_info" style="width: 100%;">
                      <thead>
                          <tr id="rowCongesRight" role="row">
                            <th class="sorting" tabindex="0" aria-controls="data-table-row-grouping" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 49px;">Type</th>
                            <th class="sorting" tabindex="0" aria-controls="data-table-row-grouping" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 59px;">Du-</th>
                            <th class="sorting" tabindex="0" aria-controls="data-table-row-grouping" rowspan="1" colspan="1" aria-label="Start date: activate to sort column ascending" style="width: 59px;">Au-</th>
                            <th class="sorting" tabindex="0" aria-controls="data-table-row-grouping" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 52px;">Statut</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% set i = 0 %}
                        {% for conge in mesConges %}
                          {% if(conge.debut_matin) %}
                            {% set timeDebut = 'matin' %}
                          {% else %}
                            {% set timeDebut = 'après-midi' %}
                          {% endif %}
                          {% if(conge.fin_matin) %}
                            {% set timeFin = 'matin' %}
                          {% else %}
                            {% set timeFin = 'après-midi' %}
                          {% endif %}
                          {% if(i%2 == 0) %}
                            <tr id="dataBottom" role="row" class="even">
                              <td>{{conge.type}}</td>
                              <td>{{conge.date_debut|date("d-m-y")}} {{timeDebut}}</td>
                              <td>{{conge.date_fin|date("d-m-y")}} {{timeFin}}</td>
                              <td>{{conge.statut}}</td>
                            </tr>
                          {% else %}
                            <tr id="dataBottom" role="row" class="odd">
                              <td>{{conge.type}}</td>
                              <td>{{conge.date_debut|date("d-m-y")}} {{timeDebut}}</td>
                              <td>{{conge.date_fin|date("d-m-y")}} {{timeFin}}</td>
                              <td>{{conge.statut}}</td>
                            </tr>
                          {% endif %}
                          {% set i = i+1 %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- end first row !-->
            </div>
          </div>
        </div>
        <!--end container-->
      </section>
      <!-- END CONTENT -->
    </div>
    <!-- END WRAPPER -->
  </div>

  <!-- modal for asking conge -->
  <!-- Modal Structure -->
  <div id="demandeConge" class="modal">
    <div class="modal-content teal lighten-2">
      <h4><b>Poser un Congé</b></h4>
      <div class="container">
        <form method="POST" id="formConge" action="{{path('modif.demandeConge')}}" class="white">
          <div id="marginModal">
            <div class="select-wrapper">
              <select name="typeConge" class="initialized" required>
                <option value="" disabled="" selected=""> RTT ou Congé ?</option>
                <option value="RTT">RTT</option>
                <option value="Conge">Conge</option>
              </select>
            </div>
            <h5>Date et durée du congé</h5>
            <div id="container">
              <div class="row">
                <div class="input-field col s6 m6 l6">
                  <input name="startDate" type="date" autocomplete="off" class="datepicker" id="startDate" placeholder="Indiquez la date de début" required/>
                </div>
                <div class="input-field col s6 m6 l6">
                  <select name="timeCongeDebut" class="initialized" required>
                    <option value="" disabled="" selected="">Matin ou Après-Midi?</option>
                    <option value="true">Matin</option>
                    <option value="false">Après-Midi</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6 m6 l6">
                  <input name="endDate" type="date" autocomplete="off" class="datepicker" id="endDate" placeholder="Indiquez la date de Fin" required/>
                </div>
                <div class="input-field col s6 m6 l6">
                  <select name ="timeCongeFin" class="initialized" required>
                    <option value="" disabled="" selected="">Matin ou Après-Midi?</option>
                    <option value=true>Matin</option>
                    <option value=false>Après-Midi</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- End Container -->
          </div>
          <!-- End Modal Content -->
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">
              <i class="material-icons left">clear</i>Annuler
            </a>
            <button type="submit" form="formConge" class="btn btn-primary">Enregistrer
              <i class="material-icons right">check</i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
