{% extends 'topBar.html.twig' %}
{% block title %} Calendrier de Congés {% endblock %}

{% block head %}
  {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src='js/plugins/fullcalendar/lib/moment.min.js' type="text/javascript"></script>
    <script src='js/plugins/fullcalendar/js/fullcalendar.min.js' type="text/javascript"></script>
    <script src="js/plugins/fullcalendar/fullcalendar-script.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <!-- ------------- Script Ready ------------- -->
    <script>
      $(document).ready(function() {
        $('select').formSelect();
        $('.modal').modal();
        $('#data-table-row-grouping').DataTable({"paging":true, "lengthChange": false,"lengthMenu": [4, 8, 12, "All"]});
        $('#data-table-row-grouping-service').DataTable({"paging":true, "lengthChange": false,"lengthMenu": [4, 8, 12, "All"]});
        render_congesSelf()
        render_congesService();
        var minDebut = new Date();
        // var maxEnd = new Date(); maxEnd.setDate(maxEnd.getDate()+90)
        $.datepicker.setDefaults({dateFormat: 'dd-mm-yy'});
        $('#startDate').datepicker('option', {minDate: minDebut});
        $('#endDate').datepicker('option', {minDate: minDebut});
        document.getElementById("modalRTT").style.display = "none";
        document.getElementById("modalConge").style.display = "none";
        document.getElementById("containerDemande").style.display = "none";
        document.getElementById("calculConge").style.display = "none";
        document.getElementById("impossibleConge").style.display = "none";
        document.getElementById("validConge").style.display = "none";
        // $('.tooltipped').tooltip();
        $( document ).tooltip();
      });
    </script>
    <!-- ------------- Script for DatePickers ------------- -->
    <script>
      $('#startDate').datepicker({
        // dateFormat: 'dd-mm-yy',
        onSelect: function(dateStr) {
          var min = $(this).datepicker('getDate') || new Date(); // Selected date or today if none
          var max = new Date(min.getTime());
          max.setMonth(min.getMonth() + 1); // Add one month
          $('#endDate').datepicker('option', {minDate: min, maxDate: max});
          checkDateDemandeConge();
        }
      });
      $('#endDate').datepicker({
        // dateFormat: 'dd-mm-yy',
        onSelect: function(dateStr) {
          var max = $(this).datepicker('getDate'); // Selected date or null if none
          $('#startDate').datepicker('option', {maxDate: max});
          checkDateDemandeConge();
        },
        onChange: function(dateStr) {
          console.log("heeeere");
        }
      });
      $(document).ready(function(){
        // $('.datepicker').datepicker();
        $('input[type=date]').each(function(){
          this.type="text";
        });
        // $('input[type=date]').datepicker({dateFormat: 'dd-mm-yy'});

        $("#endDate").attr("required", true);

      });
    </script>
    <!-- ----- FUNCTIONS ----- -->
    <script>
    // function form_submit() {
    //   document.getElementById("formConge").submit();
    // }
    function render_congesSelf(){
      var listConges = JSON.parse('{{mesConges | json_encode() | raw}}');
      var arrayLength = listConges.length;
      for (var i = 0; i < arrayLength; i++) {
        var type = listConges[i].type;
        var dateDebut = new Date(listConges[i].date_debut.date);
        var dateFin = new Date(listConges[i].date_fin.date);
        dateFin.setDate(dateFin.getDate());
        if(listConges[i].debut_matin){
          dateDebut = new Date(dateDebut.getFullYear(), dateDebut.getMonth(), dateDebut.getDate(),0,0,0);
          var displayMomentDebut = "08";
        }
        else{
          dateDebut = new Date(dateDebut.getFullYear(), dateDebut.getMonth(), dateDebut.getDate(),12,0,0);
          var displayMomentDebut = "13";
        }
        if(listConges[i].fin_matin){
          dateFin = new Date(dateFin.getFullYear(), dateFin.getMonth(), dateFin.getDate(),12,0,0);
          var displayMomentFin = "12";
        }
        else{
          dateFin = new Date(dateFin.getFullYear(), dateFin.getMonth(), dateFin.getDate()+1,0,0,0);
          var displayMomentFin = "18";
        }
        var displayDebut = ('0' + dateDebut.getDate()).slice(-2) + "-" + ('0' + (dateDebut.getMonth() + 1)).slice(-2) + "-" + dateDebut.getFullYear() + " " + ('0' + displayMomentDebut).slice(-2)+":00";
        if(listConges[i].fin_matin){
          var displayFin = ('0' + dateFin.getDate()).slice(-2) + "-" + ('0' + (dateFin.getMonth() + 1)).slice(-2) + "-" + dateFin.getFullYear() + " " + ('0' + displayMomentFin).slice(-2)+":00";
        }
        else{
          var number = dateFin.getDate()-1;
          var displayFin = ('0' + number).slice(-2) + "-" + ('0' + (dateFin.getMonth() + 1)).slice(-2) + "-" + dateFin.getFullYear() + " " + ('0' + displayMomentFin).slice(-2)+":00";
        }
        var displayStatut="";
        if(listConges[i].collabo.id == ('{{app.user.id}}')){
          if(listConges[i].statut == "En cours" || listConges[i].statut == "En attente chef")
          {
            var color = '#e2b14d';
            displayStatut = " en attente";
          }
          else
          {
            if(listConges[i].statut == "validee chef"){
              var color = '#c5e8bb';
              displayStatut = " validé par votre chef mais en attente du service RH";
            }
            else {
              if (listConges[i].statut == "validee RH"){
                var color = '#3ebc4d';
                displayStatut = " validé";
              }
              else {
                if(listConges[i].statut == 'refusee RH' || listConges[i].statut == 'refusee chef'){
                  var color = '#7c2916';
                  displayStatut = " refusé";
                }
              }
            }
          }
        }
        var description = "Votre "+ type + displayStatut +" du "+displayDebut+" au "+displayFin;
        if(listConges[i].statut != 'refusee RH' && listConges[i].statut != 'refusee chef'){
            var newEvent = {
              id : 'myConge',
              title: type,
              start : dateDebut,
              end : dateFin,
              description : description,
              statut : listConges[i].statut,
              color: color
          };
          $('#calendar').fullCalendar( 'renderEvent', newEvent , true);
        }
      }
    }
    function render_congesSelfRefuse(){
      var listConges = JSON.parse('{{mesConges | json_encode() | raw}}');
      var arrayLength = listConges.length;
      for (var i = 0; i < arrayLength; i++) {
        if( (listConges[i].statut == 'refusee RH' || listConges[i].statut == 'refusee chef') && listConges[i].collabo.id == ('{{app.user.id}}') ){
          var type = listConges[i].type;
          var dateDebut = new Date(listConges[i].date_debut.date);
          var dateFin = new Date(listConges[i].date_fin.date);
          dateFin.setDate(dateFin.getDate());
          if(listConges[i].debut_matin){
            dateDebut = new Date(dateDebut.getFullYear(), dateDebut.getMonth(), dateDebut.getDate(),0,0,0);
            var displayMomentDebut = "08";
          }
          else{
            dateDebut = new Date(dateDebut.getFullYear(), dateDebut.getMonth(), dateDebut.getDate(),12,0,0);
            var displayMomentDebut = "13";
          }
          if(listConges[i].fin_matin){
            dateFin = new Date(dateFin.getFullYear(), dateFin.getMonth(), dateFin.getDate(),12,0,0);
            var displayMomentFin = "12";
          }
          else{
            dateFin = new Date(dateFin.getFullYear(), dateFin.getMonth(), dateFin.getDate()+1,0,0,0);
            var displayMomentFin = "18";
          }
          var displayDebut = ('0' + dateDebut.getDate()).slice(-2) + "-" + ('0' + (dateDebut.getMonth() + 1)).slice(-2) + "-" + dateDebut.getFullYear() + " " + ('0' + displayMomentDebut).slice(-2)+":00";
          if(listConges[i].fin_matin){
            var displayFin = ('0' + dateFin.getDate()).slice(-2) + "-" + ('0' + (dateFin.getMonth() + 1)).slice(-2) + "-" + dateFin.getFullYear() + " " + ('0' + displayMomentFin).slice(-2)+":00";
          }
          else{
            var number = dateFin.getDate()-1;
            var displayFin = ('0' + number).slice(-2) + "-" + ('0' + (dateFin.getMonth() + 1)).slice(-2) + "-" + dateFin.getFullYear() + " " + ('0' + displayMomentFin).slice(-2)+":00";
          }
          var displayStatut="";
          var color = '#7c2916';
          displayStatut = " refusé";
          var description = "Votre "+ type + displayStatut +" du "+displayDebut+" au "+displayFin;
              var newEvent = {
                id : 'myCongeRefuse',
                title: type,
                start : dateDebut,
                end : dateFin,
                description : description,
                statut : listConges[i].statut,
                color: color
            };
            $('#calendar').fullCalendar( 'renderEvent', newEvent , true);
        }
      }
    }
    function render_congesService(){
      var listConges = JSON.parse('{{congesService | json_encode() | raw}}');
      var arrayLength = listConges.length;
      for (var i = 0; i < arrayLength; i++) {
        var type = listConges[i].type;
        var dateDebut = new Date(listConges[i].date_debut.date);
        var dateFin = new Date(listConges[i].date_fin.date);
        var description = "";
        dateFin.setDate(dateFin.getDate());
        if(listConges[i].debut_matin){
          dateDebut = new Date(dateDebut.getFullYear(), dateDebut.getMonth(), dateDebut.getDate(),0,0,0);
          var displayMomentDebut = "08";
        }
        else{
          dateDebut = new Date(dateDebut.getFullYear(), dateDebut.getMonth(), dateDebut.getDate(),12,0,0);
          var displayMomentDebut = "13";
        }
        if(listConges[i].fin_matin){
          dateFin = new Date(dateFin.getFullYear(), dateFin.getMonth(), dateFin.getDate(),12,0,0);
          var displayMomentFin = "12";
        }
        else{
          dateFin = new Date(dateFin.getFullYear(), dateFin.getMonth(), dateFin.getDate()+1,0,0,0);
          var displayMomentFin = "18";
        }
        var displayDebut = ('0' + dateDebut.getDate()).slice(-2) + "-" + ('0' + (dateDebut.getMonth() + 1)).slice(-2) + "-" + dateDebut.getFullYear() + " " + ('0' + displayMomentDebut).slice(-2)+":00";
        if(listConges[i].fin_matin){
          var displayFin = ('0' + dateFin.getDate()).slice(-2) + "-" + ('0' + (dateFin.getMonth() + 1)).slice(-2) + "-" + dateFin.getFullYear() + " " + ('0' + displayMomentFin).slice(-2)+":00";
        }
        else{
          var number = dateFin.getDate()-1;
          var displayFin = ('0' + number).slice(-2) + "-" + ('0' + (dateFin.getMonth() + 1)).slice(-2) + "-" + dateFin.getFullYear() + " " + ('0' + displayMomentFin).slice(-2)+":00";
        }
        if(listConges[i].collabo.id != ('{{app.user.id}}')){
          if(listConges[i].statut == "En attente chef" || listConges[i].statut == "En cours" || listConges[i].statut == "validee chef")
          {
            type = type + " " + "(demande)";
            var color = '#c4c6ba';
            description = "Demande en attente de validation par un membre de votre service du "+displayDebut+" au "+displayFin;
          }
          else{
            if(listConges[i].statut == 'validee RH'){
              type = type + " " + listConges[i].collabo.Nom+" "+listConges[i].collabo.Prenom;
              var color = '#a9b78f';
              description = "Congé validé pour " + listConges[i].collabo.Nom + " "+ listConges[i].collabo.Prenom+" du "+displayDebut+" au "+displayFin;;
            }
            else {
              if(listConges[i].statut == 'refusee RH' || listConges[i].statut == 'refusee chef'){
                var color = '#4d4f4a';
                displayStatut = " refusé";
              }
            }
          }
          if(listConges[i].statut != 'refusee RH' && listConges[i].statut != 'refusee chef'){
            var newEvent = {
                id : 'congeService',
                title: type,
                start : dateDebut,
                end : dateFin,
                description: description,
                color: color
            };
            $('#calendar').fullCalendar( 'renderEvent', newEvent , true);
          }
        }
      }
    }
    function render_congesServiceRefuse(){
      var listConges = JSON.parse('{{congesService | json_encode() | raw}}');
      var arrayLength = listConges.length;
      for (var i = 0; i < arrayLength; i++) {
        if( (listConges[i].statut == 'refusee RH' || listConges[i].statut == 'refusee chef')&&(listConges[i].collabo.id != ('{{app.user.id}}'))) {
          var type = listConges[i].type;
          var dateDebut = new Date(listConges[i].date_debut.date);
          var dateFin = new Date(listConges[i].date_fin.date);
          var description = "";
          dateFin.setDate(dateFin.getDate());
          if(listConges[i].debut_matin){
            dateDebut = new Date(dateDebut.getFullYear(), dateDebut.getMonth(), dateDebut.getDate(),0,0,0);
            var displayMomentDebut = "08";
          }
          else{
            dateDebut = new Date(dateDebut.getFullYear(), dateDebut.getMonth(), dateDebut.getDate(),12,0,0);
            var displayMomentDebut = "13";
          }
          if(listConges[i].fin_matin){
            dateFin = new Date(dateFin.getFullYear(), dateFin.getMonth(), dateFin.getDate(),12,0,0);
            var displayMomentFin = "12";
          }
          else{
            dateFin = new Date(dateFin.getFullYear(), dateFin.getMonth(), dateFin.getDate()+1,0,0,0);
            var displayMomentFin = "18";
          }
          var displayDebut = ('0' + dateDebut.getDate()).slice(-2) + "-" + ('0' + (dateDebut.getMonth() + 1)).slice(-2) + "-" + dateDebut.getFullYear() + " " + ('0' + displayMomentDebut).slice(-2)+":00";
          if(listConges[i].fin_matin){
            var displayFin = ('0' + dateFin.getDate()).slice(-2) + "-" + ('0' + (dateFin.getMonth() + 1)).slice(-2) + "-" + dateFin.getFullYear() + " " + ('0' + displayMomentFin).slice(-2)+":00";
          }
          else{
            var number = dateFin.getDate()-1;
            var displayFin = ('0' + number).slice(-2) + "-" + ('0' + (dateFin.getMonth() + 1)).slice(-2) + "-" + dateFin.getFullYear() + " " + ('0' + displayMomentFin).slice(-2)+":00";
          }          var color = '#4d4f4a';
          displayStatut = " refusé";
          description = "Congé refusé pour un collaborateur de votre service du "+displayDebut +" au "+displayFin;
          var newEvent = {
              id : 'congeServiceRefuse',
              title: type,
              start : dateDebut,
              end : dateFin,
              description: description,
              color: color
          };
          $('#calendar').fullCalendar( 'renderEvent', newEvent , true);
        }
      }
    }
    function checkDateDemandeConge(){
      if($('#startDate').datepicker('getDate') != null && $('#endDate').datepicker('getDate') != null){
        document.getElementById("calculConge").style.display = "block";
        var timeDiff = Math.abs($('#endDate').datepicker('getDate').getTime() - $('#startDate').datepicker('getDate').getTime());
        var dayDifference = Math.ceil(timeDiff / (1000 * 3600 * 24))+1;
        var res = 2*dayDifference;
        var selectTimeDebut = document.getElementById("timeCongeDebut");
        var resTimeDebut = selectTimeDebut.options[selectTimeDebut.selectedIndex].value;
        var selectTimeFin = document.getElementById("timeCongeFin");
        var resTimeFin = selectTimeFin.options[selectTimeFin.selectedIndex].value;
        if(resTimeDebut != "true"){res = res-1;}
        if(resTimeFin == "true"){res = res-1;}
        document.getElementById("valueCalculDemande").innerHTML = res;
        var selectTypeConge = document.getElementById("typeConge");
        var typeConge = selectTypeConge.options[selectTypeConge.selectedIndex].value;
        if(typeConge == "RTT"){
          if({{app.user.rtt}} >= res){
            document.getElementById("impossibleConge").style.display = "none";
            document.getElementById("validConge").style.display = "block";
            var resAfter = {{app.user.rtt}} - res;
            document.getElementById("valueValidDemande").innerHTML = resAfter;
            document.getElementById("inputDuree").value = res;
            document.getElementById("buttonDemandeConge").disabled = false;
          }
          else{
            document.getElementById("impossibleConge").style.display = "block";
            document.getElementById("validConge").style.display = "none";
            document.getElementById("buttonDemandeConge").disabled = true;
          }
        }
        else{
          if({{app.user.conge}} >= res){
            document.getElementById("impossibleConge").style.display = "none";
            document.getElementById("validConge").style.display = "block";
            var resAfter = {{app.user.conge}} - res;
            document.getElementById("valueValidDemande").innerHTML = resAfter;
            document.getElementById("inputDuree").value = res;
            document.getElementById("buttonDemandeConge").disabled = false;
          }
          else{
            document.getElementById("impossibleConge").style.display = "block";
            document.getElementById("validConge").style.display = "none";
            document.getElementById("buttonDemandeConge").disabled = true;
          }
        }
      }
      else{
        document.getElementById("calculConge").style.display = "none";
        document.getElementById("impossibleConge").style.display = "none";
        document.getElementById("validConge").style.display = "none";
        document.getElementById("buttonDemandeConge").disabled = true;
      }

    }
    $("#displaySelf").change(function(){
      if($(this).is(':checked')) {
        render_congesSelf()
      } else {
        $("#calendar").fullCalendar('removeEvents', 'myConge');
      }
    });
    $("#displaySelfRefuse").change(function(){
      if($(this).is(':checked')) {
        render_congesSelfRefuse()
      } else {
        $("#calendar").fullCalendar('removeEvents', 'myCongeRefuse');
      }
    });
    $("#displayService").change(function(){
     if($(this).is(':checked')) {
      render_congesService()
     } else {
      $("#calendar").fullCalendar('removeEvents', 'congeService');
     }
    });
    $("#displayServiceRefuse").change(function(){
     if($(this).is(':checked')) {
      render_congesServiceRefuse()
     } else {
      $("#calendar").fullCalendar('removeEvents', 'congeServiceRefuse');
     }
    });
    $("#displayColorConge").change(function(){
      if($(this).is(':checked')) {
        $(".dayConge").css("background-color", "#c12600");
        $(".maybeDayConge").css("background-color", "#d88d24");
        $(".maybeValidChef").css("background-color", "#f7c342");

      } else {
        $(".dayConge").css("background-color", "initial");
        $(".maybeDayConge").css("background-color", "initial");
        $(".maybeValidChef").css("background-color", "initial");
      }
    });
    $("#typeConge").change(function(){
      if (this.value == "RTT"){
        document.getElementById("modalRTT").style.display = "block";
        document.getElementById("modalConge").style.display = "none";
        document.getElementById("containerDemande").style.display = "block";
        checkDateDemandeConge();
      }
      else{
        if (this.value == "Conge"){
          document.getElementById("modalRTT").style.display = "none";
          document.getElementById("modalConge").style.display = "block";
          document.getElementById("containerDemande").style.display = "block";
          checkDateDemandeConge();
        }
        else{
          document.getElementById("modalRTT").style.display = "none";
          document.getElementById("modalConge").style.display = "none";
          document.getElementById("containerDemande").style.display = "none";
        }
      }
    });
    $("#timeCongeDebut").change(function(){checkDateDemandeConge();});
    $("#timeCongeFin").change(function(){checkDateDemandeConge();});
checkDateDemandeConge
  </script>


  {% endblock %}
  {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/calendarConges.css">
    <link rel="stylesheet" type="text/css" href="/css/loader.css">
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="js/plugins/fullcalendar/css/fullcalendar.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.css">
  {% endblock %}
{% endblock %}
{% block body %}
  <div id="main">
    <div class="wrapper">
      <section id="content">
        <!--start container-->
        <div class="container">
          <div class="section">
            <!-- Page entiere -->
            <div id="full-calendar">
              <div class="row">
                <!-- Left part -->
                <div class="col s12 m2 l1">
                  <div id="divFiltersCalendar" class="section">
                  <div class="space2"></div>
                  <h9 class="header">Filtres</h9>
                  <h4 class="header">Events</h4>
                  <div class="row">
                    <div class="col s12 m8 l9">
                      <form action="#">
                        <label>
                            <input type="checkbox" class="checkbox-white" type="checkbox" id = "displayService" checked/>
                            <span style="color:white">Congés Service</span>
                        </label>
                        <div class="row"></div>
                        <label>
                            <input type="checkbox" id = "displaySelf" checked/>
                            <span style="color:white">Mes congés</span>
                        </label>
                      </form>
                    </div>
                  </div>
                  <h4 class="header">Couleurs</h4>
                  <div class="row">
                    <div class="col s12 m8 l9">
                      <form action="#">
                        <label>
                            <input type="checkbox" class="checkbox-white" type="checkbox" id = "displayColorConge" checked/>
                            <span style="color:white">Conge</span>
                        </label>
                        <div class="row"></div>
                      </form>
                    </div>
                  </div>
                  <h4 class="header">Refus</h4>
                  <div class="row">
                    <div class="col s12 m8 l9">
                      <form action="#">
                        <label>
                            <input type="checkbox" class="checkbox-white" type="checkbox" id = "displayServiceRefuse"/>
                            <span style="color:white">Congés Service</span>
                        </label>
                        <div class="row"></div>
                        <label>
                            <input type="checkbox" id = "displaySelfRefuse"/>
                            <span style="color:white">Mes Congés</span>
                        </label>
                      </form>
                    </div>
                  </div>
                </div>
                </div>
                <!-- Calendrier -->
                <div id="mainCalendar" class="col s12 m7 l8">
                  <div id="calendar" class="fc fc-ltr fc-unthemed">
                  </div>
                  <!-- Table donnees -->
                  <div  class="row">
                    <table id="data-table-row-grouping-service" class="display dataTable" data-page-length='8'>
                      <thead>
                          <tr id="rowCongesRight" role="row">
                            <th>Nom</th>
                            <th>Début</th>
                            <th>Fin</th>
                            <th>Statut</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for conge in congesService %}
                          {% if(conge.collabo.getId() != app.user.id) %}
                            {% if(conge.debut_matin) %}
                              {% set timeDebut = 'matin' %}
                            {% else %}
                              {% set timeDebut = 'après-midi' %}
                            {% endif %}
                            {% if(conge.fin_matin) %}
                              {% set timeFin = 'matin' %}
                            {% else %}
                              {% set timeFin = 'après-midi' %}
                            {% endif %}
                            {% if(conge.statut == "En cours" or conge.statut == "validee chef" or conge.statut == "En attente chef" or conge.statut == "refusee chef" or conge.statut == "refusee RH")%}
                              {% set displayName = 'Collaborateur' %}
                            {% else %}
                              {% set displayName = conge.collabo.getNom() ~ " " ~ conge.collabo.getPrenom() %}
                            {% endif %}
                            <tr id="dataBottom" role="row">
                              <td> {{displayName}} </td>
                              <td>{{conge.date_debut|date("d-m-y")}} {{timeDebut}}</td>
                              <td>{{conge.date_fin|date("d-m-y")}} {{timeFin}}</td>
                              <td>{{conge.statut}}</td>
                            </tr>
                          {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Right part -->
                <div id="rightPart" class="table_mesConges col s12 m3 l3" data-mes-conges="{{mesConges|json_encode|e('html_attr') }}">
                  <div class="row">
                    <div id="rttPart" class="col s1 m1 l1">
                      <h5 class="header">RTT :</h5>
                      <h10 class="header"> {{app.user.rtt/2}} </h10>
                      <h6 class="header"> jours restants </h6>
                    </div>
                    <div id="congePart" class="col s1 m1 l1">
                      <div class="row">
                        <h5 class="header">Congés payés :</h5>
                        <h10 class="header"> {{app.user.conge/2}} </h10>
                        <h6 class="header"> jours restants </h6>
                      </div>
                    </div>
                  </div>
                  <div id="btnConge" class="row">
                    <div class="col s12 m12 l12">
                        <a class="waves-effect waves-light btn" onclick="$('#demandeConge').modal('open');">Poser un congé</a>
                    </div>
                  </div>
                  <div class="row">
                    <table id="data-table-row-grouping" class="display dataTable" data-page-length='8'>
                      <thead>
                          <tr id="rowCongesRight" role="row">
                            <th>Type</th>
                            <th>Début</th>
                            <th>Fin</th>
                            <th>Statut</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for conge in mesConges %}
                          {% if(conge.debut_matin) %}
                            {% set timeDebut = 'matin' %}
                          {% else %}
                            {% set timeDebut = 'après-midi' %}
                          {% endif %}
                          {% if(conge.fin_matin) %}
                            {% set timeFin = 'matin' %}
                          {% else %}
                            {% set timeFin = 'après-midi' %}
                          {% endif %}
                          <tr id="dataBottom" role="row">
                            <td>{{conge.type}}</td>
                            <td>{{conge.date_debut|date("d-m-y")}} {{timeDebut}}</td>
                            <td>{{conge.date_fin|date("d-m-y")}} {{timeFin}}</td>
                            <td>{{conge.statut}}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- end first row !-->
            </div>
          </div>
        </div>
        <!--end container-->
      </section>
      <!-- END CONTENT -->
    </div>
    <!-- END WRAPPER -->
  </div>

  <!-- modal for asking conge -->
  <!-- Modal Structure -->
  <div id="demandeConge" class="modal">
    <div class="modal-content teal lighten-2">
      <h4><b>Poser un Congé</b></h4>
      <div class="container">
        <form method="POST" id="formConge" action="{{path('modif.demandeConge')}}" class="white">
          <input type="hidden" value="" name="inputDuree" id="inputDuree" />
          <div id="marginModal">
            <div class="select-wrapper">
              <select id="typeConge" name="typeConge" class="initialized" required>
                <option value="" disabled="" selected=""> RTT ou Congé ?</option>
                <option value="RTT">RTT</option>
                <option value="Conge">Conge</option>
              </select>
            </div>
            <div class="row" id="modalRTT">
              <h5 class="header">Demi-journées de RTT Restantes:</h5>
              <h10 class="header">{{app.user.rtt}}</h10>
            </div>
            <div class="row" id="modalConge">
              <h5 class="header">Demi-journées de Congé Restantes:</h5>
              <h10 class="header">{{app.user.conge}}</h10>
            </div>
            <h5>Date et durée du congé</h5>
            <div
            id="containerDemande">
              <div class="row" id="rowDebutDate">
                <div class="input-field col s6 m6 l6">
                  <input name="startDate" type="date" autocomplete="off" class="datepicker form-control" id="startDate" placeholder="Indiquez la date de début" required/>
                </div>

                <div class="input-field col s6 m6 l6">
                  <select id="timeCongeDebut" name="timeCongeDebut" class="initialized" required>
                    <!-- <option value="" disabled="" selected="">Matin ou Après-Midi?</option> -->
                    <option value=true>Matin</option>
                    <option value=false>Après-Midi</option>
                  </select>
                </div>
              </div>
              <div class="row" id="rowEndDate">
                <div class="input-field col s6 m6 l6">
                  <input name="endDate" type="date" autocomplete="off" class="datepicker form-control" id="endDate" placeholder="Indiquez la date de Fin" required/>
                </div>
                <div class="input-field col s6 m6 l6">
                  <select id="timeCongeFin" name ="timeCongeFin" class="initialized" required>
                    <!-- <option value="" disabled="" selected="">Matin ou Après-Midi?</option> -->
                    <option value=true>Matin</option>
                    <option value=false>Après-Midi</option>
                  </select>
                </div>
              </div>
              <div class="row" id="calculConge">
                <h11 class="header">Nombre de demi-journées nécessaire :</h11> <span id="valueCalculDemande">
              </div>
              <div class="row" id="impossibleConge">
                <h11 class="header">Vous n'avez pas assez de jours restants</h11>
              </div>
              <div class="row" id="validConge">
                <h11 class="header">Demi-journées restantes après validation :</h11> <span id="valueValidDemande">
              </div>
            </div>
            <!-- End Container -->
          </div>
          <!-- End Modal Content -->
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">
              <i class="material-icons left">clear</i>Annuler
            </a>
            <button type="submit" form="formConge" id="buttonDemandeConge" class="btn btn-primary" disabled>Enregistrer
              <i class="material-icons right">check</i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
