{% extends 'topBar.html.twig' %}
{% block title %}Gestion des congés{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="js/plugins/fullcalendar/css/fullcalendar.min.css" type="text/css">
{% endblock %}

{% block body %}
        {% set salarie = null %}
        <div class="row">
            <div class="col s12 m8 l8">
                <div id='calendar'>

                </div>
            </div>
            <div class="col s12 m4 l4">
                <ul class="tabs">
                    <li class="tab col s6"><a class="active" href="#demandesEnCours">Demandes en cours</a></li>
                    <li class="tab col s6"><a href="#HistoriqueDemandes">Historique des demandes</a></li>
                </ul>
                <div id="demandesEnCours" class="col s12">
                    {% if congesEnAttente == null %}
                        Il n'y a aucune demande en attente
                    {% else %}
                        {% for demande in congesEnAttente %}
                            <ul class="collapsible">
                                <li>
                                    <div class="collapsible-header" style="display: block">
                                        <div class="right">
                                            <img class="responsive-img"  height="50" width="50" src="{{ demande.collabo.profile_pic_path }}"/>
                                        </div>
                                        {{ demande.collabo.prenom }} {{ demande.collabo.nom }} <br>
                                        {{ demande.type }} <br>
                                        {{ demande.date_debut|date('d/m/Y') }} - {{ demande.date_fin|date('d/m/Y') }}

                                    </div>
                                    <div class="collapsible-body">
                                        Demi-journées restantes : {{ demande.collabo.conge }} <br><br>
                                        <form action="{{ path('valider.conges') }}" method="post">
                                            <input type="hidden" name="decision" id="decision" value=""/>
                                            <input type="hidden" name="demande" value="{{ demande.id_conge }}"/>


                                            <button type="submit" onclick="$('#decision').val('valider');" class="waves-effect waves-light btn-small green" style="margin:auto;">Valider</button>
                                        </form>
                                        <a class="waves-effect waves-light btn modalRefus modal-trigger red" data-id="{{ demande.id_conge }}" href="#modalRefus">Refuser</a>


                                        <br><br>
                                        <a class="modalHistorique modal-trigger" data-id="{{ demande.collabo.id }}" href="#modalHistorique">Historique des congés</a>

                                    </div>

                                </li>
                            </ul>
                        {% endfor%}
                    {% endif %}
                </div>
                <div id="HistoriqueDemandes" class="col s12">
                    Historique vide
                </div>
            </div>
        </div>

        <div id="modalHistorique" class="modal">
            <div class="modal-content">
                <h4>Historique des demandes</h4>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Quitter</a>
            </div>
        </div>

        <div id="modalRefus" class="modal">
            <div class="row">
                <form method="post" action="{{ path('valider.conges') }}">
                    <div class="modal-content">
                        <h4>Refus de la demande de conges</h4>
                        <input type="hidden" name="decision" value="refuser"/>
                        <input type="hidden" name="demande" id="demande">
                        <textarea name="motif" class="materialize-textarea"></textarea>

                    </div>
                    <div class="modal-footer">
                        <div class="col s6 center-align">
                            <a href="#!" class="modal-close waves-effect waves-light btn red" style="margin:auto;">Annuler</a>
                        </div>
                        <div class="col s6 center-align">
                            <button type="submit" class="waves-effect waves-light btn green" style="margin:auto;">Valider</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
{% endblock %}

{% block javascripts %}
    <script src='js/plugins/fullcalendar/lib/moment.min.js' type="text/javascript"></script>
    <script src='js/plugins/fullcalendar/js/fullcalendar.min.js' type="text/javascript"></script>
    <script src="js/plugins/fullcalendar/fullcalendar-script.js" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $('.tabs').tabs();
            $('.collapsible').collapsible();
            $('.modal').modal();
            $(document).on("click", ".modalHistorique", function () {
                var data = $(this).data('id');

            });

            $(document).on("click", ".modalRefus", function () {
                var data = $(this).data('id');
                alert(data)
                $(".modal-content #demande").val( data );

            });
        });
    </script>
{% endblock %}
