{% extends 'topBar.html.twig' %}
{% block title %}Gestion Notes Frais{% endblock %}
{% block body %}
    <div class="row">
        <div class="col s12 m6 l6">
            <ul class="collection with-header">
                <li class="collection-header"><h5>Notes en attente</h5></li>
                {% if notesDeFraisEnAttente is empty %}
                    <h5 class="center-align p-1">Vous n'avez pas de demandes en attente</h5>  
                {% else %}
                    <div class="row blue lighten-5 m-0 p-1 center-align">
                        <div class="col s4"><b>Collaborateur</b></div>
                        <div class="col s3"><b>Service</b></div>
                        <div class="col s3"><b>Date</b></div>
                        <div class="col s2"></div>
                    </div>
                    {% for note in notesDeFraisEnAttente %}
                        <li class="collection-item">
                            <div class="row center-align" style="margin-bottom:0;">
                                <div class="col s4">{{ note.collabo.nom }} {{ note.collabo.prenom }}</div>
                                <div class="col s3">{{ note.collabo.service.nom }}</div>
                                <div class="col s3">{{ note.mois }}-{{ note.annee }}</div>
                                <div class="col s2"><a href="{{ path('gestionNotesChef.details', {id: note.id}) }}">(voir détails)</a></div>
                            </div>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
            <div class="col s12 m6 l6">
                <ul class="collection with-header">
                    <li class="collection-header"><h5>Historique</h5></li>
                    {% if notesValideesRefusees is empty %}
                        <h5 class="center-align p-1">Votre historique est vide</h5>  
                    {% else %}
                        <div class="row blue lighten-5 m-0 p-1 center-align">
                            <div class="col s3"><b>Collaborateur</b></div>
                            <div class="col s3"><b>Service</b></div>
                            <div class="col s3"><b>Date</b></div>
                            <div class="col s2"><b>Status</b></div>
                            <div class="col s1"></div>
                        </div>
                        {% for note in notesValideesRefusees %}
                            <li class="collection-item">
                                <div class="row center-align" style="margin-bottom:0;">
                                    <div class="col s3">{{ note.collabo.nom }} {{ note.collabo.prenom }}</div>
                                    <div class="col s3">{{ note.collabo.service.nom }}</div>
                                    <div class="col s3">{{ note.mois }}-{{ note.annee }}</div>
                                    <div class="col s2">{{ note.statut }}</div>
                                    <div class="col s1"><a href="{{ path('gestionNotesChef.details', {id: note.id}) }}">(voir détails)</a></div>
                                </div>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
        $('.collapsible').collapsible();
        });
        $(document).ready(function(){
        $('.modal').modal();
        });
        $(document).ready(function(){
            $('.tooltipped').tooltip();
        });
    </script>
{% endblock %}