{% extends 'topBar.html.twig' %}
{% block title %}Mes notes de frais{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/css/topBar.css">
{% endblock %}
{% block body %}
<div class="row p-2">
    <div class="card-panel col s8">
        <h5>Notifications</h5>
        <div class="divider"></div>
        {% if notifications is empty %}
            <h5 class="center-align p-1">Vous n'avez pas de notification</h5>
        {% else %}
            <table class="highlight">
                <thead>
                <tr class="black white-text">
                    <th>Catégorie</th>
                    <th>Detail</th>
                    <th>Date</th>
                </tr>
                </thead>

                <tbody>
                    {% for notification in notifications %}
                            <tr class="
                                    {% if notification.getStatut() == "OK" %}
                                        green lighten-4
                                    {% elseif notification.getStatut() == "ACTION_NECESSAIRE" %}
                                        red lighten-4
                                    {% endif %}
                                    {% if not notification.getPersonnel() %}red-text{% endif %}"

                                        {% if notification.getCategorie() == "Note de frais" and notification.getPersonnel() %}
                                            onclick="window.location='{{path('app_noteFrais')}}';"
                                        {% elseif notification.getCategorie() == "Note de frais" %}
                                            onclick="window.location='{{path('app_gestionNotesFrais')}}';"
                                        {% elseif notification.getCategorie() == "D. de congés" and notification.getPersonnel() %}
                                            onclick="window.location='{{path('app_demandesDeConges')}}';"
                                        {% elseif notification.getCategorie() == "D. de congés" %}
                                            onclick="window.location='{{path('app_gestionDemandesDeConges')}}';"
                                        {% elseif notification.getCategorie() == "D. d\'informationMission" and notification.getPersonnel() %}
                                            onclick="window.location='{{path('app_demandesDInformation')}}';"
                                        {% elseif notification.getCategorie() == "D. d\'informationMission" %}
                                            onclick="window.location='{{path('app_gestionDemandesDInformation')}}';"
                                        {% elseif notification.getCategorie() == "Mission" and notification.getPersonnel() %}
                                            onclick="window.location='{{path('app_missions')}}';"
                                        {% elseif notification.getCategorie() == "Mission" %}
                                            onclick="window.location='{{path('app_gestionMissions')}}';"
                                        {% endif %}
                                    >
                                <td>
                                    {% if not notification.getVu() %}<b>{% endif %}
                                    {{ notification.getCategorie() }}
                                    {% if not notification.getVu() %}</b>{% endif %}
                                </td>
                                <td>
                                    {% if not notification.getVu() %}<b>{% endif %}
                                    {{ notification.getDescription() }}
                                    {% if not notification.getVu() %}</b>{% endif %}
                                </td>
                                {% if notification.getDate()|date('d') == currentDate[0] and notification.getDate()|date('m') == currentDate[1] and notification.getDate()|date('Y') == currentDate[2] %}
                                    <td>
                                        {% if not notification.getVu() %}<b>{% endif %}
                                        {{ notification.getDate()|date('H:i') }}
                                        {% if not notification.getVu() %}</b>{% endif %}
                                    </td>
                                {% else %}
                                    <td>
                                        {% if not notification.getVu() %}<b>{% endif %}
                                        {{ notification.getDate()|date('d/m/Y') }}
                                        {% if not notification.getVu() %}</b>{% endif %}
                                    </td>
                                {% endif %}
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <div class="col s4 h-100">
        <div class="card-panel p-1">

            <h5>Accès rapide</h5>
            <div class="divider"></div>
            {% for note in notes_de_frais %}
                <a href="{{path('app_noteFrais')}}">
                    <div class="card grey darken-1">
                        <div class="card-content white-text">
                        <span class="card-title">Note de frais du {% if note.getMois() < 10 %}0{% endif %}{{ note.getMois() }}/{{ note.getAnnee() }}</span>
                        <i>{{ note.getStatut() }}</i>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <a class="waves-effect waves-light btn" href="{{path('app_noteFrais')}}">Faire une demande de congés</a>
        </div>
        <div class="card-panel p-1">
            <h5>Mes missions</h5>
            <div class="divider"></div>
            {% for mission in missions %}
                <a href="{{path('app_missions')}}">
                    <div class="card grey darken-1">
                        <div class="card-content white-text">
                        <span class="card-title">{{ mission.getNom() }}</span>
                        <i>{{ mission.getDateDebut()|date('d/m/Y') }} - {{ mission.getDateFin()|date('d/m/Y') }}</i>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <a class="waves-effect waves-light btn" href="{{path('app_missions')}}">Accèder à toutes mes missions</a>
        </div>
    </div>
</div>

{% endblock %}

{% block researchBar %}
    <script>
        $(document).ready(function(){
            $('input.validate').autocomplete({
            data: {{ listeCollaborateurs|json_encode|raw }},
            });
        });
    </script>
{% endblock %}

{% block tabNotifications %}
<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}
