{% extends 'base2.html.twig' %}
{% block title %}Mes notes de frais{% endblock %}
{% block body %}
  <ul class="collapsible">
    <li class="active">
      <div class="collapsible-header blue lighten-2">Note de Frais de {{noteDeFrais[1].mois}} / {{noteDeFrais[1].annee}} </div>
      <div class="collapsible-body">
        <ul class="collapsible">
          {% for ligne in lignesDeFrais[1] %}
              <li>
                <div class="collapsible-header"> {{ligne.intitule}} </div>
                <div class="collapsible-body">
                  Mission : {{ligne.mission}}
                  <br>
                  Montant : {{ligne.montant}}
                </div>
              </li>
          {% endfor %}
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header blue lighten-2">Note de Frais de {{noteDeFrais[0].mois}} / {{noteDeFrais[0].annee}} </div>
      <div class="collapsible-body">
        <ul class="collapsible">
          {% for ligne in lignesDeFrais[0] %}
              <li>
                <div class="collapsible-header"> {{ligne.intitule}} </div>
                <div class="collapsible-body">
                  Mission : {{ligne.mission}}
                  <br>
                  Montant : {{ligne.montant}}
                </div>
              </li>
          {% endfor %}
        </ul>
      </div>
    </li>
  </ul>
{% endblock %}

{% block javascripts %}
  <script>
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
  </script>
{% endblock %}
