{% extends 'topBar.html.twig' %}
{% block title %}Mes notes de frais{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/css/topBar.css">
{% endblock %}
{% block body %}
<div class="container mt-10">
  <ul class="collapsible">
    {% set i = 0 %}
    {% for note in noteDeFrais%}
        {% set montantTotal = 0 %}
        {% set montantAvance = 0 %}
        {% set montantNAvance = 0 %}
      {% if(i == 0) %}
      <li class="active">
      {% else %}
          <li>
      {% endif %}
        <div class="collapsible-header blue lighten-2">
            <i class="large material-icons">expand_more</i> 
            Note de Frais de 
            <b style="margin-right:5px;margin-left:5px;">{{note.mois}} / {{note.annee}}</b> 
            Statut :
            <b style="margin-right:5px;margin-left:5px;">{{noteDeFrais[i].statut}}</b>
            <i class="material-icons no-rotation right red-text darken-4">warning</i>
            <span class="red-text darken-4 right">
                <b>5 avance(s) non finalisée(s)</b>
            </span>
        </div>
        <div class="collapsible-body">
            {% if mesLignesDeFrais[i] is empty %}
                <h5 class="p-2 center-align">Cette note n'a pas de ligne.</h5>
            {% else %}
                <div class="row blue lighten-5 m-0 p-1 center-align">
                    <div class="col s2"><b>Intitulé</b></div>
                    <div class="col s2"><b>Projet</b></div>
                    <div class="col s1"><b>Montant</b></div>
                    <div class="col s2 toReduceOrExpendIfRemoveMode"><b>Type</b></div>
                    <div class="col s2 "><b>Date</b></div>
                    <div class="col s2"><b>Status</b></div>
                    <div class="col s1">Avance</div>
                    <div class="col s1 suppressionMode" hidden="true"></div>
                </div>
                
                <ul class="collapsible">
                    {% for ligne in mesLignesDeFrais[i] %}
                        {% if ligne.avance %}{% set montantAvance = montantAvance + ligne.montant %}
                        {% else %}{% set montantNAvance = montantNAvance + ligne.montant %}{% endif %}
                        <li>
                            <div class="collapsible-header row m-0 center-align">
                                <div class="col s2">{{ ligne.intitule }}</div>
                                <div class="col s2">{{ ligne.projet }}</div>
                                <div class="col s1">{{ ligne.montant }}€</div>
                                <div class="col s2 toReduceOrExpendIfRemoveMode">{{ ligne.type }}</div>
                                <div class="col s2">{{ ligne.date|date("Y-m-d") }}</div>
                                <div class="col s2">{{ ligne.statutValidation }}</div>
                                <div class="col s1">
                                    {% if ligne.avance %}
                                        A
                                    {% endif %}
                                </div>
                                <label class="col s1 suppressionMode" hidden="true">
                                    <input type="checkbox" class="filled-in red" />
                                    <span></span>
                                </label>
                            </div>
                            <div class="collapsible-body row">
                                <div class="col s8 valign-wrapper">
                                    <p style="margin-right:5%;"><b>Justificatif:</b></p>
                                    {% if ligne.justificatif is empty %}
                                        <span> Il n'y a pas de justificatif associé à cette ligne</span>
                                    {% else %}
                                        {% for justi in ligne.justificatif %}
                                            {% if justi == "Perdu" %}
                                                <div class="card orange">
                                                    <div class="card-content white-text">
                                                        <span>Justificatif perdu</span>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="card" style="margin-right:5px;">
                                                    <div class="card-image p-1">
                                                        <img id="imageProfil" src="{{ justi }}" class="responsive-img" style="width:100px; margin:auto;"/>
                                                    </div>
                                                    <div class="card-content p-1">
                                                        <span>{{ justi|split('/')|last }}</span>
                                                    </div>
                                                </div>
                                                {% if ligne.isModifiable() %}
                                                    <a class="btn-floating btn waves-effect waves-light red justificatifModal modal-trigger tooltipped" 
                                                            data-id="{{ligne.id}},{{justi}}" 
                                                            href="#suppressionJustificatifModal" 
                                                            style="margin-right:30px;"
                                                            data-position="bottom" 
                                                            data-tooltip="Supprimer le justificatif">
                                                                    <i class="material-icons no-rotation">delete</i>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col s4">
                                    {% if ligne.isModifiable() %}
                                        <a class="waves-effect waves-light modalModification btn modal-trigger right" data-id="{{ligne.id}}/{{ligne.montant}}/{{ligne.intitule}}/{{ligne.projet}}/{{ligne.type}}/{{ligne.date|date("Y-m-d")}}"  href="#modificationLigneFraisModal">Modifier la ligne</a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    
                </ul>
            {% endif %}

            {% if noteDeFrais[i].isModifiable() %}
                <a class="waves-effect waves-light modalModification btn modal-trigger green suppressionMode" data-id="{{note.mois}}/{{note.annee}}"  href="#modificationLigneFraisModal">Ajouter une ligne de frais</a>
                <a class="waves-effect waves-light btn red" id="supprimmerLigneFraisBouton">Supprimer une ligne</a>
            {% endif %}
   
            <input type="checkbox" class="suppressionMode" />
            
            <div class="row m-0">
                {% if mesLignesDeFrais[i] is not empty %}
                        <div class="divider m-1"></div>
                        {% set montantTotal = montantAvance + montantNAvance %}
                        <div class="valign-wrapper col s6">
                            <h5 class="left">Montant total de la note de frais: {{ montantTotal }}€</h5>
                            <span class="p-1">({{montantAvance}}€ d'avance + {{montantNAvance}}€)</span>
                        </div>
                {% endif %}
                {% if noteDeFrais[i].isModifiable() %}
                    <div class="right">
                        <a class="waves-effect waves-light btn grey darken-1">Demande d'avance</a>
                        <a class="waves-effect waves-light btn orange" href="{{ path('envoyer.note', {id: note.id}) }}">Envoyer la note</a>
                    </div>
                {% endif %}
            </div>
        </div>
      </li>
    {% set i = 1 %}
    {% endfor %}
  </ul>
</div>

  <!-- modal to add modif/new lignesDeFrais -->
  <!-- Modal Structure -->
  <div id="modificationLigneFraisModal" class="modal">
        <form method="post" action="{{ path('modif.ligne') }}" enctype="multipart/form-data" onsubmit="return validateModification()" name="modification">
            <div class="modal-content" id="modal-content">
                <h5 name="titreModal" id="titreModal">Modification d'une ligne de frais</h5>
                <input type="hidden" name="isCreation" id="isCreation" value=""/>
                <input type="hidden" name="creationMois" id="creationMois" value=""/>
                <input type="hidden" name="creationAnnee" id="creationAnnee" value=""/>

                <div id="container">

                    <div class="section row">

                        <div class="input-field col s6 row valign-wrapper">
                            <span class="col s3 center-align"><b>Intitulé</b></span>
                            <input id="ligneIntitule" name="ligneIntitule" type="text" class="validate col s9" aria-required="true" required="true">
                        </div>

                        <div class="input-field col s6 valign-wrapper">
                            <span class="col s3 center-align" style="margin-left:0;"><b>Type</b></span>
                            <select name="ligneType" id="ligneType" class="col s9">
                                {% for type in typesPaiements %}
                                    <option value="{{type}}">{{type}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="section row">
                        <div class="input-field col s6 row valign-wrapper">
                            <span class="col s3 center-align"><b>Date</b></span>
                            <input type="text" class="datepicker" id="ligneDate" name="ligneDate">
                        </div>

                        <div class="input-field col s6 row valign-wrapper">
                            <span class="col s3 center-align"  style="margin-left:0;"><b>Montant</b></span>
                            <input placeholder="montant" id="ligneMontant" name="ligneMontant" type="integer" class="validate">
                        </div>
                    </div>

                    <div class="section row">
                        <div class="input-field col s6 row valign-wrapper">
                            <span class="col s3 center-align" style="margin-left:0;"><b>Projet</b></span>
                            <select name="projet" id="projet">
                                {% for project in projectsAvailables %}
                                    {% if project != null %}
                                    <option value="{{project[0].id}}">{{project[0].nom}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <input type="hidden" name="ligneId" id="ligneId" value=""/>
                        </div>

                        <div class="file-field input-field col s6 row valign-wrapper">
                            <span class="col s3 center-align"  style="margin-left:0;"><b>Justificatif</b></span>
                            <div class="btn">
                                <span>Upload</span>
                                <input id="inputFile" type="file" name="justificatifUpload">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" id="idJustificatif"  name="idJustificatif" type="text" placeholder="Justificatif">
                            </div>
                            <a class="waves-effect waves-light btn-small red tooltipped perteJustificatifClic" data-position="bottom" data-tooltip="Justificatif perdu" style="margin-left:5px;"><i class="material-icons p-0">warning</i></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-light btn red"><i class="material-icons left">clear</i>Annuler</a>
                <button type="submit" class="waves-effect waves-light btn green">Enregistrer<i class="material-icons right">check</i></button>
            </div>
        </form>
  </div>

  <!-- modal to add modif/new lignesDeFrais -->
  <!-- Modal Structure -->
  <div id="suppressionJustificatifModal" class="modal center-align">
        <form method="post" action="{{ path('suppresion.justificatif') }}" enctype="multipart/form-data">
            <div class="modal-content" id="modal-content">
                <h5>Etes-vous sûr de supprimer le justificatif ?</h5>
                <input type="hidden" name="idLigneASuppJustificatif" id="idLigneASuppJustificatif" value=""/>
            </div>
            <div class="modal-footer row">
                <div class="col s6 center-align">
                    <a href="#!" class="modal-close waves-effect waves-light btn red" style="margin:auto;">Non</a>
                </div>
                <div class="col s6 center-align">
                    <button type="submit" class="waves-effect waves-light btn green" style="margin:auto;">Oui</button>
                </div>
            </div>
        </form>
  </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
        $('.collapsible').collapsible();
        });
        $(document).ready(function(){
        $('.modal').modal();
        });
        $(document).ready(function(){
            $('.tooltipped').tooltip();
        });
    </script>

    <script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
        autoClose: true,
        format: 'yyyy-mm-dd',
        });
    });
    </script>

    <script>
        $(document).ready(function(){
        $('select').formSelect();
        });
    </script>

    <script>
        $(".modal-content #ligneMontant").change(function(){
            var A = document.getElementById('ligneMontant');
            if(A.value < 0){
                A.style.borderColor = "red";
            }else{
                A.style.borderColor = "transparent";
            }
        });
        $(".modal-content #ligneIntitule").change(function(){
            var A = document.getElementById('ligneIntitule');
            if(A.value.length == 0){
                A.classList.add('invalid');
            }else{
                A.classList.remove('valid');
            }
        });
        function validateModification() {
            var montant = document.forms["modification"]["ligneMontant"].value;
            if (montant < 0) {
                return false;
            }
        }
    </script>

    <script>
        $(document).on("click", ".modalAjout", function () {
            var date = $(this).data('id').split('/');
            document.getElementById('moisNote').value = date[0];
            document.getElementById('anneeNote').value = date[1];
        });
    </script>

    <!--Perte d'un justificatif BOUTON-->
    <script>
        $(document).on("click", ".perteJustificatifClic", function () {
            document.getElementById('idJustificatif').value = "Perdu";
        });
    </script>

    <script>
        $(document).on("click", ".modalModification", function () {
            var data = $(this).data('id').split('/');
            if(data.length > 2){
                $(".modal-content #isCreation").val( false );
                $(".modal-content #titreModal").text( "Modification d'une ligne de frais" );
                $(".modal-content #ligneId").val( data[0] );
                $(".modal-content #ligneMontant").val( data[1] );
                $(".modal-content #ligneIntitule").val( data[2] );
                $(".modal-content #ligneProjet").val( data[3] );
                $(".modal-content #ligneType").val( data[4] );
                $(".modal-content #ligneDate").val( data[5] );
            }else{
                $(".modal-content #isCreation").val( true );
                $(".modal-content #creationMois").val( data[0] );
                $(".modal-content #creationAnnee").val( data[1] );
                $(".modal-content #titreModal").text( "Création d'une ligne de frais" );
                $(".modal-content #ligneId").val(1);
                $(".modal-content #ligneMontant").val(0);
                $(".modal-content #ligneIntitule").val("");
                $(".modal-content #ligneDate").val("{{ "now"|date("Y-m-d") }}");
            }
        });
        $(document).on("click", ".justificatifModal", function () {
            var data = $(this).data('id');
            $(".modal-content #idLigneASuppJustificatif").val(data);
        });
    </script>

    <script>
    $( "#supprimmerLigneFraisBouton" ).on( "click", function() {
        var tab = document.getElementsByClassName("suppressionMode");
        var tab2 = document.getElementsByClassName("toReduceOrExpendIfRemoveMode");
        if($("#supprimmerLigneFraisBouton").text() == "Annuler la suppression"){
            $("#supprimmerLigneFraisBouton").text( "Supprimer une ligne" );
            for(i=0; i<tab2.length; i++){
                tab2[i].classList.add('s2');
                tab2[i].classList.remove('s1');
            }  
        }else{
            $("#supprimmerLigneFraisBouton").text( "Annuler la suppression" );
            for(i=0; i<tab2.length; i++){
                tab2[i].classList.add('s1');
                tab2[i].classList.remove('s2');
            }
        }

        for(i=0; i<tab.length; i++){
            if(tab[i].getAttribute("hidden") == null){
                tab[i].setAttribute("hidden", true);
            }else{
                tab[i].removeAttribute("hidden");
            }     
        }
    });
    </script>
{% endblock %}