{% extends 'topBar.html.twig' %}
{% block title %}Mes notes de frais{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/css/topBar.css">
{% endblock %}
{% block body %}
<div class="container mt-10">
  <ul class="collapsible">
    {% set i = 0 %}
    {% for note in noteDeFrais%}
        {% set montantTotal = 0 %}
      {% if(i == 0) %}
      <li class="active">
      {% else %}
          <li>
      {% endif %}
        <div class="collapsible-header blue lighten-2">Note de Frais de {{note.mois}} / {{note.annee}} <i class="large material-icons">expand_more</i> Statut : {{noteDeFrais[i].statut}} </div>
        <div class="collapsible-body">
            {% if mesLignesDeFrais[i] is empty %}
                <h5 class="p-2 center-align">Cette note n'a pas de ligne.</h5>
            {% else %}
                <div class="row blue lighten-5 m-0 p-1 center-align">
                    <div class="col s2"><b>Intitulé</b></div>
                    <div class="col s2"><b>Projet</b></div>
                    <div class="col s1"><b>Montant</b></div>
                    <div class="col s2"><b>Type</b></div>
                    <div class="col s2"><b>Date</b></div>
                    <div class="col s2"><b>Status</b></div>
                    <div class="col s1">Avance</div>
                </div>
                
                <ul class="collapsible">
                    {% for ligne in mesLignesDeFrais[i] %}
                        {% set montantTotal = montantTotal + ligne.montant %}
                        <li>
                            <div class="collapsible-header row m-0 center-align">
                                <div class="col s2">{{ ligne.intitule }}</div>
                                <div class="col s2">{{ ligne.projet }}</div>
                                <div class="col s1">{{ ligne.montant }}€</div>
                                <div class="col s2">{{ ligne.type }}</div>
                                <div class="col s2">{{ ligne.date|date("Y-m-d") }}</div>
                                <div class="col s2">{{ ligne.statutValidation }}</div>
                                <div class="col s1">
                                    {% if ligne.avance %}
                                        A
                                    {% endif %}
                                </div>
                            </div>
                            <div class="collapsible-body row">
                                <div class="col s8 valign-wrapper">
                                    <p style="margin-right:5%;"><b>Justificatif:</b></p>
                                    {% if ligne.justificatif == "" %}
                                        <span> Il n'y a pas de justificatif associé à cette ligne</span>
                                    {% elseif ligne.justificatif == "Perdu" %}
                                        <div class="card orange">
                                            <div class="card-content white-text">
                                                <span>Justificatif perdu</span>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="card">
                                            <div class="card-image p-1">
                                                <img id="imageProfil" src="{{ligne.justificatif}}" class="responsive-img" style="width:100px; margin:auto;"/>
                                            </div>
                                            <div class="card-content p-1">
                                                <span>{{ ligne.justificatif|split('/')|last }}</span>
                                            </div>
                                        </div>
                                        <a class="btn-floating btn waves-effect waves-light red justificatifModal modal-trigger tooltipped" 
                                                data-id="{{ligne.id}}" 
                                                href="#suppressionJustificatifModal" 
                                                style="margin-left:5px;"
                                                data-position="bottom" 
                                                data-tooltip="Supprimer le justificatif">
                                                        <i class="material-icons no-rotation">delete</i>
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="col s4">
                                    {% if noteDeFrais[i].statut != "validee compta" %}
                                        <a class="waves-effect waves-light modalModification btn modal-trigger right" data-id="{{ligne.id}}/{{ligne.montant}}/{{ligne.intitule}}/{{ligne.projet}}/{{ligne.type}}/{{ligne.date|date("Y-m-d")}}"  href="#modificationLigneFraisModal">Modifier la ligne</a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    
                </ul>
            {% endif %}

            {% if noteDeFrais[i].statut != "validee compta" %}
                <a class="waves-effect waves-light modalModification btn modal-trigger green" data-id="{{note.mois}}/{{note.annee}}"  href="#modificationLigneFraisModal">Ajouter une ligne de frais <i class="material-icons right">add</i></a>
                <a class="waves-effect waves-light modalAjout btn modal-trigger red" data-id="{{note.mois}}/{{note.annee}}"  href="#supprimmerLigneFraisModal">Supprimer une ligne <i class="material-icons right">add</i></a>
            {% endif %}
            
            {% if mesLignesDeFrais[i] is not empty %}
                <div class="collapsible-header row m-0 center-align">
                    <h5>Montant total de la note de frais: {{ montantTotal }}€</h5>
                </div>
            {% endif %}
            
        </div>
      </li>
    {% set i = 1 %}
    {% endfor %}
  </ul>
</div>

  <!-- modal to add modif/new lignesDeFrais -->
  <!-- Modal Structure -->
  <div id="modificationLigneFraisModal" class="modal">
        <form method="post" action="{{ path('modif.ligne') }}" enctype="multipart/form-data">
            <div class="modal-content" id="modal-content">
                <h5 name="titreModal" id="titreModal">Modification d'une ligne de frais</h5>
                <input type="hidden" name="isCreation" id="isCreation" value=""/>
                <input type="hidden" name="creationMois" id="creationMois" value=""/>
                <input type="hidden" name="creationAnnee" id="creationAnnee" value=""/>

                <div id="container">

                    <div class="section row">

                        <div class="input-field col s6 row valign-wrapper">
                            <span class="col s3 center-align"><b>Intitulé</b></span>
                            <input id="ligneIntitule" name="ligneIntitule" type="text" class="validate col s9" aria-required="true" required="true">
                        </div>

                        <div class="input-field col s6 valign-wrapper">
                            <span class="col s3 center-align" style="margin-left:0;"><b>Type</b></span>
                            <select name="ligneType" id="ligneType" class="col s9">
                                {% for type in typesPaiements %}
                                    <option value="{{type}}">{{type}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="section row">
                        <div class="input-field col s6 row valign-wrapper">
                            <span class="col s3 center-align"><b>Date</b></span>
                            <input type="text" class="datepicker" id="ligneDate" name="ligneDate">
                        </div>

                        <div class="input-field col s6 row valign-wrapper">
                            <span class="col s3 center-align"  style="margin-left:0;"><b>Montant</b></span>
                            <input placeholder="montant" id="ligneMontant" name="ligneMontant" type="integer" class="validate">
                        </div>
                    </div>

                    <div class="section row">
                        <div class="input-field col s6 row valign-wrapper">
                            <span class="col s3 center-align" style="margin-left:0;"><b>Projet</b></span>
                            <select name="projet" id="projet">
                                {% for project in projectsAvailables %}
                                    {% if project != null %}
                                    <option value="{{project[0].id}}">{{project[0].nom}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <input type="hidden" name="ligneId" id="ligneId" value=""/>
                        </div>

                        <div class="file-field input-field col s6 row valign-wrapper">
                            <span class="col s3 center-align"  style="margin-left:0;"><b>Justificatif</b></span>
                            <div class="btn">
                                <span>Upload</span>
                                <input id="inputFile" type="file" name="justificatifUpload">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" id="idJustificatif"  name="idJustificatif" type="text" placeholder="Justificatif">
                            </div>
                            <a class="waves-effect waves-light btn-small red tooltipped perteJustificatifClic" data-position="bottom" data-tooltip="Justificatif perdu" style="margin-left:5px;"><i class="material-icons p-0">warning</i></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-light btn red"><i class="material-icons left">clear</i>Annuler</a>
                <button type="submit" class="waves-effect waves-light btn green">Enregistrer<i class="material-icons right">check</i></button>
            </div>
        </form>
  </div>

  <!-- modal to add modif/new lignesDeFrais -->
  <!-- Modal Structure -->
  <div id="suppressionJustificatifModal" class="modal center-align">
        <form method="post" action="{{ path('suppresion.justificatif') }}" enctype="multipart/form-data">
            <div class="modal-content" id="modal-content">
                <h5>Etes-vous sûr de supprimer le justificatif ?</h5>
                <input type="hidden" name="idLigneASuppJustificatif" id="idLigneASuppJustificatif" value=""/>
            </div>
            <div class="modal-footer row">
                <div class="col s6 center-align">
                    <a href="#!" class="modal-close waves-effect waves-light btn red" style="margin:auto;">Non</a>
                </div>
                <div class="col s6 center-align">
                    <button type="submit" class="waves-effect waves-light btn green" style="margin:auto;">Oui</button>
                </div>
            </div>
        </form>
  </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
        $('.collapsible').collapsible();
        });
        $(document).ready(function(){
        $('.modal').modal();
        });
        $(document).ready(function(){
            $('.tooltipped').tooltip();
        });
    </script>

    <script>
    $(document).ready(function(){
        $('.datepicker').datepicker({
        autoClose: true,
        format: 'yyyy-mm-dd',
        });
    });
    </script>

    <script>
        $(document).ready(function(){
        $('select').formSelect();
        });
    </script>

    <script>
        $(".modal-content #ligneMontant").change(function(){
            var A = document.getElementById('ligneMontant');
            if(A.value < 0){
                A.classList.add('MyClass');
                A.style.borderColor = "red";
            }else{
                A.style.borderColor = "transparent";
                A.classList.remove('MyClass');
            }
        });
        $(".modal-content #ligneIntitule").change(function(){
            var A = document.getElementById('ligneIntitule');

            if(A.value.length == 0){
                console.log(A.value.length);
                A.classList.add('invalid');
            }else{
                A.classList.remove('valid');
            }
        });
    </script>

    <script>
        $(document).on("click", ".modalAjout", function () {
            var date = $(this).data('id').split('/');
            document.getElementById('moisNote').value = date[0];
            document.getElementById('anneeNote').value = date[1];
        });
    </script>

    <!--Perte d'un justificatif BOUTON-->
    <script>
        $(document).on("click", ".perteJustificatifClic", function () {
            document.getElementById('idJustificatif').value = "Perdu";
        });
    </script>

    <script>
        $(document).on("click", ".modalModification", function () {
            var data = $(this).data('id').split('/');
            if(data.length > 2){
                $(".modal-content #isCreation").val( false );
                $(".modal-content #titreModal").text( "Modification d'une ligne de frais" );
                $(".modal-content #ligneId").val( data[0] );
                $(".modal-content #ligneMontant").val( data[1] );
                $(".modal-content #ligneIntitule").val( data[2] );
                $(".modal-content #ligneProjet").val( data[3] );
                $(".modal-content #ligneType").val( data[4] );
                $(".modal-content #ligneDate").val( data[5] );
            }else{
                $(".modal-content #isCreation").val( true );
                $(".modal-content #creationMois").val( data[0] );
                $(".modal-content #creationAnnee").val( data[1] );
                $(".modal-content #titreModal").text( "Création d'une ligne de frais" );
                $(".modal-content #ligneId").val(1);
                $(".modal-content #ligneMontant").val(0);
                $(".modal-content #ligneIntitule").val("");
                //$(".modal-content #ligneProjet").val("");
                //$(".modal-content #ligneType").val("");
                $(".modal-content #ligneDate").val("{{ "now"|date("Y-m-d") }}");
            }
        });
        $(document).on("click", ".justificatifModal", function () {
            var data = $(this).data('id');
            $(".modal-content #idLigneASuppJustificatif").val(data);
        });
    </script>
{% endblock %}