{% extends 'topBar.html.twig' %}
{% block title %}Mes notes de frais{% endblock %}
{% block body %}
  <ul class="collapsible">
    {% for i in 0..1|reverse %}
      <li>
        <div class="collapsible-header blue lighten-2">Note de Frais de {{noteDeFrais[i].mois}} / {{noteDeFrais[i].annee}} <i class="large material-icons">expand_more</i> Statut de la note de frais : {{noteDeFrais[i].statut}} </div>
        <div class="collapsible-body">
          <ul class="collapsible">
            <a class="waves-effect waves-light modalAjout btn modal-trigger" data-id="{{noteDeFrais[i].mois}}/{{noteDeFrais[i].annee}}"  href="#ajoutLigneFraisModal">Ajouter une ligne de frais <i class="material-icons right">add</i></a>
            <div class="right" style="padding-right: 10px;padding-top:5px" > Demandes d'avance</div>
            {% for ligne in mesLignesDeFrais[i] %}
                <li>
                  <div style="display:block" class="collapsible-header"> {{ligne.intitule}} <div class="secondary-content"> <input mdx-no-collapse class="no-collapse" type="checkbox" /><span></span> </div> </div>
                  <div class="collapsible-body">
                    Mission : {{ligne.mission}},   Montant : {{ligne.montant}} euros,   date : {{ ligne.date|date("Y-m-d") }},   statut : {{ligne.statutValidation}}
                    <a class="waves-effect waves-light modalModification btn modal-trigger" data-id="{{ligne.id}}/{{ligne.montant}}/{{ligne.intitule}}/{{ligne.mission}}/{{ligne.date|date("Y-m-d")}}"  href="#modificationLigneFraisModal">Modifier</a>
                  </div>
                </li>
            {% endfor %}
          </ul>
        </div>
      </li>
    {% endfor %}
  </ul>

  <!-- modal to add new lignesDeFrais -->
  <!-- Modal Structure -->
  <div id="ajoutLigneFraisModal" class="modal myModal">
      <h4>Ajout d'une ligne de frais</h4>
      <div class="container mt-4">
          {{ form_start(form) }}
              {{ form_row(form.intitule) }}
              {{ form_row(form.mission) }}
              {{ form_row(form.montant) }}
              {{ form_row(form.date, { 'attr': {'class': 'browser-default'} }) }}
              {{ form_row(form.Projet) }}
              <input type="hidden" name="moisNote" id="moisNote">
              <input type="hidden" name="anneeNote" id="anneeNote">
              <div style="  text-align: right">
                  <button class="btn btn-primary" style="margin-top: 5px">Enregistrer</button>
              </div>
          {{ form_end(form) }}
      </div>
  </div>

{% endblock %}

{% block javascripts %}
  <script>
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
  </script>


  <script>
    $(document).ready(function(){
      $('.modal').modal();
    });
  </script>

  <script>
  $(document).ready(function(){
    $('.datepicker').datepicker({
      autoClose: true,
      format: 'yyyy-mm-dd',
    });
  });

  </script>

  <script>
    $(document).ready(function(){
      $('select').formSelect();
    });
  </script>
    <script>
        $(document).on("click", ".modalAjout", function () {
            var date = $(this).data('id').split('/');
            document.getElementById('moisNote').value = date[0];
            document.getElementById('anneeNote').value = date[1];
        });
    </script>



{% endblock %}
