{% extends 'topBar.html.twig' %}
{% block title %} {{ mission.nom }} {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <ul class="collection with-header">
                <li class="collection-header blue lighten-3">
                    <h4 class="center-align">{{ mission.nom }}</h4>
                </li>
                <li class="collection-header blue lighten-5 row m-0">
                    <div class="col s5">
                        <b>Dates:</b>
                        <span class="center-align">{{ mission.DateDebut|date('d/m/Y') }} - {{ mission.DateFin|date('d/m/Y') }}</span>
                    </div>
                    <div class="col s5">
                        <b>Status:</b>
                        <span class="center-align">{{ mission.status }}</span>
                    </div>
                    <div class="col s2">
                        <b>ID:</b>
                        <span class="center-align">{{ mission.id }}</span>
                    </div>

                    <div class="col s12">
                        <b>Service:</b>
                        <span class="center-align">{{ mission.Service }}</span>
                    </div>
                    
                    <div class="col s12 m-2">
                        <b>Description</b>
                        <p>{{ mission.Description }}</p>
                    </div>
                </li>
                <li class="collection-header blue lighten-3">
                    <h5 class="center-align">Liste collaborateurs</h5>
                </li>
                <li>
                    <table class="centered striped">
                        <thead>
                            <tr class="">
                                <th><b>Nom Prénom</b></th>
                                <th><b>Service</b></th>
                                <!--<th><b>Montant de frais associé</b></th>-->
                            </tr>
                        </thead>

                        <tbody>
                            {% for collaborateur in collabosProjet %}
                                <tr>
                                    <td>{{ collaborateur.nom }} {{ collaborateur.prenom }}</td>
                                    <td>{{ collaborateur.service.nom }}</td>
                                    <!--<td>{{ collaborateur.roleEntreprise }}</td>-->
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </li>
                <li class="collection-item row center-align">
                    <div class="col s6">
                        <a class="waves-effect waves-light btn modal-trigger orange" href="{{ path('app_gestionMissions')}}" >Retour</a>
                    </div>
                    <div class="col s6">
                        <a class="waves-effect waves-light btn modal-trigger green" href="#ajoutCollaborateur" >Ajouter un collaborateur</a>
                        <a class="waves-effect waves-light btn modal-trigger red" href="#supprimerCollaborateur" >Supprimer un collaborateur</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="ajoutCollaborateur" class="modal">
        <div class="row">
            <form method="post" action="{{ path('ajout.collabos') }}" class="col s12">
                <div class="modal-content">
                    <ul class="collection">
                        {% for collaborateur in collabosPasProjet %}
                        <li class="collection-item">
                            {{ collaborateur.nom }} {{ collaborateur.prenom }} - {{ collaborateur.service.nom }} : {{ collaborateur.roleEntreprise }}
                            <div class="secondary-content">
                                <div class="switch">
                                    <label>
                                        <input name="choix[]" value="{{ collaborateur.id }}" type="checkbox"/>
                                        <span class="lever"></span>
                                        Ajout au projet
                                    </label>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <input type="hidden" name="projet" value="{{ mission.id }}"/>
                </div>
                <div class="modal-footer">
                    <div class="col s6 center-align">
                        <a href="#!" class="modal-close waves-effect waves-light btn red" style="margin:auto;">Annuler</a>
                    </div>
                    <div class="col s6 center-align">
                        <button type="submit" class="waves-effect waves-light btn green" style="margin:auto;">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="supprimerCollaborateur" class="modal">
        <div class="row">
            <form method="post" action="{{ path('suppression.collabos') }}" class="col s12">
                <div class="modal-content">
                    <ul class="collection">
                        {% for collaborateur in collabosProjet %}
                            <li class="collection-item">
                                {{ collaborateur.nom }} {{ collaborateur.prenom }} - {{ collaborateur.service.nom }} : {{ collaborateur.roleEntreprise }}
                                <div class="secondary-content">
                                    <div class="switch">
                                        <label>
                                            <input name="choix[]" value="{{ collaborateur.id }}" type="checkbox"/>
                                            <span class="lever"></span>
                                            Suppression du projet
                                        </label>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <input type="hidden" name="projet" value="{{ mission.id }}"/>
                </div>
                <div class="modal-footer">
                    <div class="col s6 center-align">
                        <a href="#!" class="modal-close waves-effect waves-light btn red" style="margin:auto;">Annuler</a>
                    </div>
                    <div class="col s6 center-align">
                        <button type="submit" class="waves-effect waves-light btn green" style="margin:auto;">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>




{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.modal').modal();
        });
    </script>
{% endblock %}