<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}DefaultNamePage{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="/css/content.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" type="image/png" href="/images/logo_sans_texte.png" />
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <nav id="navBar" class="nav-extended navbar-fixed grey lighten-4">

          <div id="navWrapper" class="nav-wrapper">
            <ul id="rowtopBar" class="hide-on-med-and-down row">
              <div class="col s12 m4 l2">
                <a href="{{ path('app_homepage') }}" class="brand-logo"><img src="/images/logo.png" style="width:110px;height:45px;"></a>
              </div>
              <!-- Barre de recherche -->
              <div id="liSearch" class="col s12 m4 l7 ">
                  <div class="input-field">
                    <i id="iconSearch" class="material-icons prefix grey-text text-darken-4">search</i>
                    <input id="search" type="text" class="validate">
                    <label for="search" id="test" class="center-align">Rechercher un collaborateur</label>
                  </div>
              </div>

              <div id="liProfil" class="col s12 m4 l3">
                <a id="partProfil" class='dropdown-trigger btn btn-large grey lighten-5 black-text' href='#' data-target='dropdown1'>
                  <i id="iconPicture" class='material-icons left'>
                    <img id="imageProfil" src="/{{app.user.profile_pic_path}}" class="circle responsive-img" style="width:35px;height:35px;"/>
                  </i>
                  <b id="bProfil">{{app.user.nom}} {{app.user.prenom}}</b>

                </a>
              </div>
            </ul>
          </div>
          <div id="navContent" class="nav-content">
            <a id ="partNav" class="btn-flat waves-effect waves-light btn-large" href="{{ path('app_noteFrais') }}" name="action">Mes notes de frais
              <i class="material-icons right">book</i>
            </a>
            <a id ="partNav" class="col s4 m 4 l4 btn-flat waves-effect waves-light btn-large"  href="{{ path('app_calendarConges') }}"  name="action">Mes demandes de congés
              <i class="material-icons right">perm_contact_calendar</i>
            </a>
            <a id ="partNav" class="col s4 m 4 l4 btn-flat waves-effect waves-light btn-large" href="{{ path('app_demandesDInformation') }}"  name="action">Mes demandes d'information
          <i class="material-icons right">send</i>
            </a>
            {% if app.user.service.id == 1 or app.user.roles[0] == 'Chef de service' %}
              <a class="btn-flat waves-effect waves-light btn-large" href="{{ path('app_gestionDemandesDeConges') }}"  name="action">Gestion des congés
                <i class="material-icons right">beach_access</i>
              </a>
            {% endif %}
            {% if app.user.service.id == 2 or app.user.roles[0] == 'Chef de service'%}
              <a class="btn-flat waves-effect waves-light btn-large" href="{{ path('app_gestionNotesFrais') }}"  name="action">Gestion des notes de frais
                <i class="material-icons right">local_atm</i>
              </a>
            {% endif %}
            {% if app.user.service.id == 1 %}
              <a class="btn-flat waves-effect waves-light btn-large" href="{{ path('app_gestionDemandesDInformation') }}"  name="action">Gestion des D. d'information
                <i class="material-icons right">assignment</i>
              </a>
            {% endif %}
            {% if app.user.roles[0] == 'Chef de service' %}
              <a class="btn-flat waves-effect waves-light btn-large" href="{{ path('app_gestionMissions') }}"  name="action">Gestion des missions
                <i class="material-icons right">people</i>
              </a>
            {% endif %}
          </div>
        </nav>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="{{ path('app_profile') }}">Edition de profil</a></li>
          <li><a href="#!">Paramètres</a></li>
          <li class="divider" tabindex="-1"></li>
          <li>
            <a href="/logout">
              <i class="material-icons prefix grey-text text-darken-4">keyboard_tab</i>
              Deconnexion
            </a>
          </li>
        </ul>
        {% block body %}

        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
        <script src="https://rawgit.com/aurelia-ui-toolkits/aurelia-materialize-bundles/0.20.2/config2.js"></script>

        <script>
          $('.dropdown-trigger').dropdown({
            coverTrigger: false
          });
        </script>


        {% block javascripts %}
        {% endblock %}
        {% block researchBar %}
        {% endblock %}
    </body>
</html>
