{% extends 'Admin/Collaborateur/index.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h3>Nouveau service</h3>
        {{ form_start(form) }}
            <div class="row">
                {{ form_row(form.nom) }}
            </div>
            <div class="row">
                <div class="col-3" style="width: 30%; float: left">{{ form_row(form.chef, { 'attr': {'class': 'browser-default'}}) }}</div>
                <a href="{{ path('admin.service.newCollaborateurService', {id: service.id}) }}" class="btn" style="margin-top: 2em; margin-left: 2em; float: left; vertical-align: middle">Nouveau collaborateur</a>
            </div>
            <button class="btn btn-primary blue" style="margin-top: 2em; float: left">Creation du service</button>
            <a href="{{ path('admin.service.index') }}" style="float: left; margin-top: 2em; margin-left: 2em;" class="btn">Retour</a>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function toast(){
            M.toast({html: 'I am a toast!'})
        }
    </script>
{% endblock %}