{% extends 'Admin/Collaborateur/index.html.twig' %}

{% block title 'Gestion des services' %}

{% block body %}
    <div class="container mt-4">
        <h3>Gestion des services</h3>
        <a href="{{ path('admin.collaborateur.index') }}" class="btn btn-primary blue">gestion des collaborateurs</a>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>

        {% endfor %}
        <script>
            window.Materialize.toast('I am a toast!', 4000);
        </script>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Services</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for service in services %}
                    <tr>
                        <td>{{ service.nom }}</td>
                        <td>
                            <a href="{{ path('admin.service.edit', {id: service.id}) }}" class="btn btn-secondary">Editer</a>
                            {% if service.id > 2 %}
                                <form method="post" action="{{ path('admin.service.remove',{id: service.id}) }}" style="display: inline-block" onsubmit="return confirm('Confirmer la suppression du service?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
                                    <button class="btn red">Supprimer</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right" style="margin-top: 2em; margin-bottom: 2em;">
            <a href="{{ path('admin.service.new') }}" class="btn btn-primary">Ajouter un service</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        function toast(){
            M.toast({html: 'I am a toast!'})
        }
    </script>
{% endblock %}